<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NarrateIt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BACE9CC2C8C1845004518F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BACE9DD2C8C1846004518F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BACE9E72C8C1846004518F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
